<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Input Page</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <h1>Employee Management Application</h1>
  <hr>
  <h2>Add Employee</h2>
  <form th:object="${employee}" method="POST">
    <input type="text" th:field="*{name}" placeholder="Enter employee name" class="form-control mb-4 col-4">
    <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <label class="form-check-label" for="inlineRadio1">Status</label>
    <select th:field="*{status}">
      <option th:each="status : ${T(sheridan.chrisnei.employeemanagementsystem.domain.Status).values()}"
              th:value="${status.name()}"
              th:text="${status.toString()}">
      </option>
    </select>
    <br></br>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" th:checked="*{trained} ? 'checked'" value="false" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        Trained
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" th:checked="*{certified} ? 'checked'" value="false" id="defaultCheck2">
      <label class="form-check-label" for="defaultCheck1">
        Certified
      </label>
    </div>
    <button type="submit" class="btn btn-info col-2">Submit</button>
  </form>
  <hr>
</div>
</body>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<footer class="footer">Sheridan College: Neilsmith Christian</footer>
</html>