<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Output Page</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Employee Management Application</h1>
    <hr>
    <h2>Employee Details</h2>
    <form th:object="${employee}" method="POST">
        <label class="form-check-label" for="name-field">Name</label>
        <input type="text" th:field="*{name}" class="form-control mb-4 col-4" id="name-field" th:readonly="true">
        <label class="form-check-label" for="status-field">Status</label>
        <input type="text" th:field="*{status}" class="form-control mb-4 col-4" id="status-field" th:readonly="true">
        <label class="form-check-label" for="trained-field">Trained</label>
        <input type="text" th:field="*{trained}" class="form-control mb-4 col-4" id="trained-field" th:readonly="true">
        <label class="form-check-label" for="certified-field">Certified</label>
        <input type="text" th:field="*{certified}" class="form-control mb-4 col-4" id="certified-field" th:readonly="true">
    </form>
    <a th:href = "@{/employee}">Back to Input Page</a>
    <hr>
</div>
</body>
<br></br>
<footer>Sheridan College: Neilsmith Christian</footer>
</html>